<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        	<li><a href="/">Home</a></li>
	        	<li><a href="/ethnicolor/">Imputing Race & Ethnicity</a></li>
        		<li><a href="/gender/">Imputing Gender</a></li>
        		<li><a href="/search/">Searching for Names</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
   		<li><a href="https://github.com/appeler>https://github.com/appeler</a></li>
      </ul>
			</footer>
		</body>
	</html>
